{% extends "base.html" %}

{% block content %}
<div class="grid-qteam">
    {% include "events/qteam/_header.html" %}
    <section>
        <div class="section-qteam">
            <span>{{ _('Deze wedstrijd wordt u aangeboden door Vroom in samenwerking met QTeam') }}</span>
            <h1>{{ _('BEREID UW WAGEN VOOR OP HET HUIDIGE PRACHTIGE WEER!') }}</h1>
            <p>{{ _('Mis deze kans niet! Beleef een verbeterde rijervaring door één van de vier sets banden van
                Continental, Pirelli of Michelin te winnen, op maat van uw wagen. Bovendien zorgt onze partner QTeam
                voor gratis montage in één van hun 103 servicepunten in België. Grijp je kans door voor 10 juni 2023 de
                volgende drie vragen juist te beantwoorden. Zo wordt u misschien één van de gelukkige winnaars!') }}</p>
            <h1>{{ _('DANKZIJ QTEAM, DE BELGISCHE MARKTLEIDER IN BANDEN BENT U IN GOEDE HANDEN') }}</h1>
            <p>{{ _("QTeam is de toonaangevende specialist in België op het gebied van banden en mobiliteit, met meer
                dan 50 jaar ervaring. Met het uitgebreide netwerk van 103 servicecentra bieden ze innovatieve lokale
                oplossingen voor alle type auto's, bestelwagens en vrachtwagens, of het nu gaat om particuliere, lease-
                of zakelijke voertuigen. Bij QTeam bent u verzekerd van een veilige reis.") }}</p>
            <hr>
            <span>{{ _('Tip: all info is te vinden op de <a href="https://www.qteam.be" target="_blank">Q Team
                    website</a>') }}</span>
            <div class="error-text" style="display: none; color: red;">
                {{ _('Gelieve 1 van de antwoorden aan te duiden.') }}
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.how_many_centers.label }}
                    <div class="custom-select" data-name="how_many_centers">
                        {{ form.how_many_centers(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('Bijna 50') }}</li>
                            <li class="option" data-value="1">{{ _('Bijna 70') }}</li>
                            <li class="option" data-value="2">{{ _('Bijna 100') }}</li>
                        </ul>
                    </div>
                    {% for error in form.how_many_centers.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.which_type_car.label }}
                    <div class="custom-select" data-name="which_type_car">
                        {{ form.which_type_car(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('Particuliere wagen') }}</li>
                            <li class="option" data-value="1">{{ _('Particuliere wagen en bedrijfswagen') }}</li>
                            <li class="option" data-value="2">{{ _('Particuliere wagen, bedrijfswagen en leasewagen') }}
                            </li>
                        </ul>
                    </div>
                    {% for error in form.which_type_car.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.when_summer_tires.label }}
                    <div class="custom-select" data-name="when_summer_tires">
                        {{ form.when_summer_tires(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('2 graden celsius') }}</li>
                            <li class="option" data-value="1">{{ _('7 graden celsius') }}</li>
                            <li class="option" data-value="2">{{ _('15 graden celcius') }}</li>
                        </ul>
                    </div>
                    {% for error in form.when_summer_tires.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.how_many_people.label }}
                    {{ form.how_many_people() }}
                    {% for error in form.how_many_people.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div>
                    {{ form.email.label }}
                    {{ form.email(placeholder=_('Je email')) }}
                    {% for error in form.email.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.first_name.label }}
                    {{ form.first_name(placeholder=_('Je voornaam')) }}
                    {% for error in form.first_name.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.last_name.label }}
                    {{ form.last_name(placeholder=_('Je familienaam')) }}
                    {% for error in form.last_name.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <p>{{ _('Ok, dat is alles! We hopen dat je zal winnen! Door op de onderstaande knop te klikken, bevestig
                    je dat je kennis hebt genomen van het') }} <a href="{{ url_for('events.qteam_rules') }}"
                        target="_blank">{{ _('wedstrijdreglement') }}</a>.</p>
                <button id="submit" name="submit" type="submit">
                    {{ _('Indienen') }}
                </button>
            </form>
        </div>
    </section>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = document.querySelectorAll('.option');
        const form = document.querySelector('form');
        const formError = document.querySelector('.error-text');

        options.forEach(option => {
            option.addEventListener('click', function () {
                const customSelect = option.closest('.custom-select');
                const inputName = customSelect.getAttribute('data-name');
                const optionsList = customSelect.querySelectorAll('.option');

                optionsList.forEach(opt => opt.classList.remove('selected'));
                option.classList.add('selected');
                const selectedValue = option.getAttribute('data-value');
                const hiddenInput = document.querySelector(`input[name="${inputName}"]`);

                if (hiddenInput) {
                    hiddenInput.value = selectedValue;
                    // Trigger the change event on the hidden input field
                    hiddenInput.dispatchEvent(new Event('change'));
                } else {
                    console.error(`Hidden input not found for inputName: ${inputName}`);
                }
            });
        });

        form.addEventListener('submit', function (event) {
            const customSelects = document.querySelectorAll('.custom-select');
            let emptyCustomSelectFound = false;

            customSelects.forEach(customSelect => {
                const inputName = customSelect.getAttribute('data-name');
                const hiddenInput = document.querySelector(`input[name="${inputName}"]`);

                if (hiddenInput && hiddenInput.value === "") {
                    emptyCustomSelectFound = true;
                }
            });

            if (emptyCustomSelectFound) {
                event.preventDefault();
                formError.style.display = 'block';
            } else {
                formError.style.display = 'none';
            }
        });
    });


</script>

{% endblock %}