{% extends "base.html" %}

{% block content %}
<div class="grid-suzuki">
    {% include "events/suzuki/_header.html" %}
    <section>
        <div class="section-suzuki">
            <h1>{{ _('Tot €6.000 korting! Beperkt aanbod... Kies het model dat u interesseert en vul het
                offerteaanvraagformulier in om van dit aanbod te kunnen genieten.') }}</h1>
            <div class="suzuki-two-box">
                <div class="suzuki-box">
                    <img class="main-img" src="{{ url_for('static', filename='images/suzuki/main-s-cross.png') }}">
                    <div class="suzuki-box-header">
                        <img class="suzuki-small-img"
                            src="{{ url_for('static', filename='images/suzuki/logo-suzuki-small.png') }}">
                        <div class="suzuki-brand-text">
                            <p>{{ _('Suzuki') }}<br>
                                <span class="suzuki-span">{{ _('S Cross') }}</span>
                            </p>
                        </div>
                        <p>{{ _('Vanaf €21.449') }}</p>
                    </div>
                    <div class="suzuki-box-description">
                        <p>{{ _('Dankzij zijn krachtige SUV-karakter, diverse rijassistentiesystemen, ruime interieur en
                            opvallende grille, heeft deze auto talloze voordelen die uw dagelijkse leven gemakkelijker
                            maken en u helpen uw grenzen te verleggen.') }}</p>
                        <a href="{{ url_for('events.suzuki_s_cross') }}" class="button">{{ _('Vraag een offerte aan')
                            }}</a>
                    </div>
                </div>
                <div class="suzuki-box">
                    <img class="main-img" src="{{ url_for('static', filename='images/suzuki/main-vitara.png') }}">
                    <div class="suzuki-box-header">
                        <img class="suzuki-small-img"
                            src="{{ url_for('static', filename='images/suzuki/logo-suzuki-small.png') }}">
                        <div class="suzuki-brand-text">
                            <p>{{ _('Suzuki') }}
                                <span class="suzuki-span">{{ _('Vitara') }}</span>
                            </p>
                        </div>
                        <p>{{ _('Vanaf €19.999') }}</p>
                    </div>
                    <div class="suzuki-box-description">
                        <p>{{ _('Op maat gemaakt voor al uw avonturen. De Suzuki Vitara onderscheidt zich door zijn
                            sterk karakter en veelzijdigheid, met exclusieve AllGrip-technologie en een hybride motor
                            voor authentiek rijplezier.') }}</p>
                        <a href="{{ url_for('events.suzuki_vitara') }}" class="button">{{ _('Vraag een offerte aan') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}