@import "fonts/satoshi/satoshi.css";

body {
    font-family: "Satoshi", sans-serif;
    font-feature-settings: "salt", "ss02";
  }

a,
p,
label,
button {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    color: #000000;
}

input[type=text],
input[type=number],
select {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Satoshi-Regular';
}

footer a,
footer p {
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
}

h1 {
    font-family: 'Satoshi-Bold';
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

span {
    display: block;
}

span, span a {
    color: #888888;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Satoshi-Regular';
}

label {
    display: block;
    margin-bottom: 10px;
}


input[type=text],
input[type=number],
input[type=password],
select {
    background: none;
    border: 1px solid #000000;
    padding: 7px 0 7px 15px;
    border-radius: 20px;
    margin-bottom: 40px;
    height: 23px;
}

input[type=text] {
    width: 50%;
}

select {
    width: 305px;

}

button {
    background: #1C2E2E;
    border-radius: 20px;
    margin-bottom: 45px;
    border: none;
    color: #ffffff;
    height: 37px;
    width: 159px;
    font-size: 16px;
    line-height: 22px;
}

hr {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    height: 0px;
    margin-bottom: 32px;
}

.error-text {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    margin-bottom: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

th {
    text-align: right;
    border: 1px solid #000000;
    padding: 5px;
}

td {
    padding: 5px;
}

th, td{
    font-size: 13px;
    line-height: 14px;
    font-family: 'Satoshi-Regular';
    font-weight: 400;
}

/* Custom selector start */

.custom-select {
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 20px 0;
}

.options-list {
    display: flex;
}

.options-list li {
    border: 1px solid #000000;
    padding: 7px 30px 7px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.options-list li:hover {
    background-color: #f1f1f1;
}

.options-list li.selected {
    background-color: #1C2E2E;
    color: #ffffff;
}

/* Custom selector end */

@media (max-width: 1000px) {
    .options-list {
        flex-direction: column;
    }

    .options-list li {
        width: 96%;
        margin-bottom: 15px;
        padding: 7px;
        text-align: center;
    }

    input[type=text],
    input[type=number] {
        width: 96%;
    }
}