@import "fonts/satoshi/satoshi.css";

a, p, span, label, input[type=text], input[type=number], select, button {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Satoshi-Regular';
}

footer a, footer p {
    color: #ffffff;
}

h1 {
    font-family: 'Satoshi-Bold';
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

span {
    display: block;
    color: #666666;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type=text], input[type=number], select {
	width: 290px;
	padding: 7px;
    border: 1px solid #666666;
    margin-bottom: 10px;
}

select {
	width: 305px;

}

button {
    background: #ed1c24;
    margin: 15px 0;
    border: none;
	color: #ffffff;
	height: 40px;
	width: 305px;
}