@import "reset.css";
@import "design-system.css";


body {
    background-color: #F4F3EC;
}

.event {
    display: grid;
    width: 100%;
    grid-template-rows: 80px 500px 1fr 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center
}

nav img {
    width: 170.75px;
}

header {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/header.png');
    background-position: center;
    border-radius: 20px;
    margin: 0 75px;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center
}

header img {
    display: block;
    margin-left: 250px;
    width: 255px;
}

section {
    display: flex;
    justify-content: center;
    padding: 35px 0 20px 0;
}

.section-content {
    width: 962px;
    text-align: left;
}

.section-content p {
    padding-bottom: 30px;
}

/* Custom selector start */

.custom-select {
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 20px 0;
}

.options-list {
    display: flex;
}

.options-list li {
    border: 1px solid #000000;
    padding: 7px 30px 7px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.options-list li:hover {
    background-color: #f1f1f1;
}

.options-list li.selected {
    background-color: #1C2E2E;
    color: #ffffff;
}

/* Custom selector end */

footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

footer img {
    width: 90px;
    margin: 0 3px 15px 3px;
}

footer ul {
    width: 962px;
    display: flex;
    justify-content: space-between;

}

footer ul li a {
    margin: 0 5px 0 5px;
    text-decoration: none;
}

@media (max-width: 1000px) {
    header {
        background: url('../images/header-mobile.png');
        background-size: cover;
        margin: 0 30px;
    }

    header img {
        margin-left: 30px;
        width: 200px;
    }

    .event {
        grid-template-rows: 80px 300px 1fr 200px;
    }

    .section-content {
        width: 100%;
        padding: 0 30px;
    }

    .options-list {
        flex-direction: column;
    }

    .options-list li {
        width: 96%;
        margin-bottom: 15px;
        padding: 7px;
        text-align: center;
    }

    input[type=text],
    input[type=number] {
        width: 96%;
    }

    footer ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
    }
}