@import "reset.css";
@import "design-system.css";


body {
    background-color: #F4F3EC;
}

.event {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center
}

nav img {
    width: 170.75px;
}

section {
    display: flex;
    justify-content: center;
    padding: 35px 0 20px 0;
}

/* Q team specific start */

.grid-qteam {
    display: grid;
    width: 100%;
    grid-template-rows: 500px 1fr;
}

.header-qteam {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/q-team/header.png');
    background-position: center;
    border-radius: 20px;
    margin: 0 75px;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center
}

.header-qteam img {
    display: block;
    margin-left: 250px;
    width: 255px;
}

.section-qteam {
    width: 962px;
    text-align: left;
}

.section-qteam p {
    padding-bottom: 30px;
}

input[type=number] {
    height: 23px;
}

/* Q team specific end */

/* Suzuki specific start */

.grid-suzuki {
    display: grid;
    width: 100%;
    grid-template-rows: 500px 1fr;
}

.header-suzuki {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/suzuki/header-suzuki.png');
    background-position: center;
    border-radius: 20px;
    margin: 0 75px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-suzuki img {
    display: block;
    width: 120px;
}

.section-suzuki {
    width: 962px;
    text-align: left;
}

.section-suzuki h1 {
    font-family: 'Satoshi-Regular';
    font-size: 32px;
    line-height: 43.2px;
    font-weight: 400;
    margin-bottom: 80px;
}

.suzuki-two-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 85px;
    gap: 50px;
}

.suzuki-box {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 464px;
    display: flex;
    flex-direction: column;
}

.suzuki-box p {
    font-size: 16px;
    line-height: 150%;
}

.suzuki-span {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #0C1D17;
    font-family: 'Satoshi-Bold';
}

.suzuki-box .main-img {
    width: 464px;
    height: 250px;
    border-top: 5px;
}

.suzuki-box-header {
    margin: 27px 24px 17px 24px;
    display: flex;
    justify-content: space-between;
}

.suzuki-small-img {
    width: 40px;
    height: 40px;
}

.suzuki-brand-text p {
    width: 223px;
    line-height: 18px;
}

.suzuki-box-description {
    margin: 0 20px;
}

.suzuki-box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28.5px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    height: 50px;
}

.grid-suzuki-detail {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
}

.section-suzuki-detail {
    width: 100%;
    display: flex;
    justify-content: center;
}

.suzuki-detail-left {
    width: 681px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.suzuki-detail-left-two {
    display: flex;
    gap: 10px;
}

.suzuki-detail-left-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.suzuki-detail-right {
    width: 581px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.suzuki-detail-right h1 {
    padding-top: 75px;
    font-size: 48px;
    line-height: 64.8px;
    font-weight: 700;
}

.suzuki-detail-right form {
    margin-top: 50px;
}

.suzuki-detail-right form p, .suzuki-detail-right form a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}

.suzuki-detail-right form input[type=text], .suzuki-detail-right form select  {
    width: 100%;
}

.suzuki-detail-right form select  {
    width: 50%;
    height: 67px;
}

.form-block {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* Suzuki specific end */

footer {
    background-color: #1C2E2E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

footer img {
    width: 90px;
    margin: 0 3px 15px 3px;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li a {
    margin: 0 5px 0 5px;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .event {
        grid-template-rows: 80px 1fr 300px;
    }

    footer ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
    }

    /* Q team specific start  */

    .header-qteam {
        background: none;
        background-color: #1C2E2E;
        margin: 0 30px;
        display: flex;
        justify-content: center;
    }

    .header-qteam img {
        margin: 30px;
        width: 200px;
    }

    .grid-qteam {
        display: grid;
        width: 100%;
        min-height: 100vh;
        grid-template-rows: 300px 1fr;
    }

    .section-qteam {
        width: 100%;
        padding: 0 30px;
    }

    /* Q team specific end */

    /* Suzuki specific start */

    .grid-suzuki {
        justify-content: center;
    }

    .header-suzuki {
        margin: 0 30px;
        width: 300px;
    }

    .suzuki-box {
        width: 300px;
    }

    .suzuki-box .main-img {
        width: 300px;
        height: 162px;
    }

    .suzuki-brand-text p {
        width: 100px;
        margin-left: 10px;
        line-height: 18px;
    }

    .section-suzuki {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .section-suzuki h1 {
        margin: 30px;
        width: 300px;
    }

    .suzuki-two-box {
        flex-direction: column;
    }

    .section-suzuki-detail {
        flex-direction: column;
        align-items: center;
    }

    /* Suzuki specific end */
}