@import "reset.css";
@import "design-system.css";


body {
    background-color: #F4F3EC;
}

.event {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center
}

nav img {
    width: 170.75px;
}

section {
    display: flex;
    justify-content: center;
    padding: 35px 0 20px 0;
}

/* Q team specific start */

.grid-qteam {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 500px 1fr;
}

.header-qteam {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/q-team/header.png');
    background-position: center;
    border-radius: 20px;
    margin: 0 75px;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center
}

.header-qteam img {
    display: block;
    margin-left: 250px;
    width: 255px;
}

.section-qteam {
    width: 962px;
    text-align: left;
}

.section-qteam p {
    padding-bottom: 30px;
}

/* Q team specific end */

/* Suzuki specific start */

.grid-suzuki {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 500px 1fr;
}

.header-suzuki {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/suzuki/header-suzuki.png');
    background-position: center;
    border-radius: 20px;
    margin: 0 75px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-suzuki img {
    display: block;
    width: 178px;
}

.section-suzuki {
    width: 962px;
    text-align: left;
}

.section-suzuki h1 {
    font-family: 'Satoshi-Regular';
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
    margin-bottom: 80px;
}

.suzuki-two-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 85px;
}

.suzuki-box {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 464px;
    display: flex;
    flex-direction: column;
}

.suzuki-box p {
    font-size: 16px;
    line-height: 150%;
}

.suzuki-span {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #0C1D17;
}

.suzuki-box .main-img {
    width: 464px;
    height: 250px;
    border-top: 8px;
}

.suzuki-box-header {
    margin: 27px 24px 17px 24px;
    display: flex;
    justify-content: space-between;
}

.suzuki-small-img {
    width: 40px;
    height: 40px;
}

.suzuki-brand-text {
    width: 223px;
}

.suzuki-box-description {
    margin: 0 20px;
}

.suzuki-box .button {
    display: block;
    margin: 28.5px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}


/* Suzuki specific end */

footer {
    background-color: #1C2E2E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

footer img {
    width: 90px;
    margin: 0 3px 15px 3px;
}

footer ul {
    width: 962px;
    display: flex;
    justify-content: space-between;

}

footer ul li a {
    margin: 0 5px 0 5px;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .event {
        grid-template-rows: 80px 1fr 200px;
    }

    footer ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
    }

    /* Q team specific start  */

    .header-qteam {
        background: none;
        background-color: #1C2E2E;
        margin: 0 30px;
        display: flex;
        justify-content: center;
    }

    .header-qteam img {
        margin: 30px;
        width: 200px;
    }

    .grid-qteam {
        display: grid;
        width: 100%;
        min-height: 100vh;
        grid-template-rows: 300px 1fr;
    }

    .section-qteam {
        width: 100%;
        padding: 0 30px;
    }

    /* Q team specific end */
}