{% extends "base.html" %}

{% block content %}
<div class="grid-qteam grid-qteam2">
    {% include "events/qteam2/_header.html" %}
    <section>
        <div class="section-qteam">
            <span>{{ _('Deze wedstrijd wordt u aangeboden door Vroom in samenwerking met QTeam en Pirelli.') }}</span>
            <h1>{{ _('Beleef een onvergetelijke F1 ervaring') }}</h1>
            <p>{{ _('Bent u klaar voor een spannende competitie die uw F1-droom kan laten uitkomen? QTeam als Belgische
                marktleider in banden, Pirelli en Vroom slaan de handen in elkaar om u als motorsportliefhebber iets
                unieks te bieden. We bieden u de mogelijkheid om één van de drie SILVER Tickets voor de Belgian Grand
                Prix 2023 te winnen, of één van de vier officiële Pirelli Podium F1 petten.') }}</p>
            <p>{{ _("Grijp uw kans door voor 15 juli 2023 de volgende vragen juist te beantwoorden. Zo wordt u misschien
                één van de gelukkige winnaars!") }}</p>
            <hr>
            <div class="error-text" style="display: none; color: red;">
                {{ _('Gelieve 1 van de antwoorden aan te duiden.') }}
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.q1.label }}
                    <div class="custom-select" data-name="q1">
                        {{ form.q1(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('Kimi Räikkönen') }}</li>
                            <li class="option" data-value="1">{{ _('Michael Schumacher') }}</li>
                            <li class="option" data-value="2">{{ _('Lewis Hamilton') }}</li>
                        </ul>
                    </div>
                    {% for error in form.q1.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.q2.label }}
                    <div class="custom-select" data-name="q2">
                        {{ form.q2(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('2011') }}</li>
                            <li class="option" data-value="1">{{ _('2015') }}</li>
                            <li class="option" data-value="2">{{ _('2019') }}
                            </li>
                        </ul>
                    </div>
                    {% for error in form.q2.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.q3.label }}
                    <div class="custom-select" data-name="q3">
                        {{ form.q3(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('6') }}</li>
                            <li class="option" data-value="1">{{ _('7') }}</li>
                            <li class="option" data-value="2">{{ _('8') }}</li>
                        </ul>
                    </div>
                    {% for error in form.q3.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.q4.label }}
                    <div class="custom-select" data-name="q4">
                        {{ form.q4(type='hidden') }}
                        <ul class="options-list">
                            <li class="option" data-value="0">{{ _('15 inch') }}</li>
                            <li class="option" data-value="1">{{ _('17 inch') }}</li>
                            <li class="option" data-value="2">{{ _('18 inch') }}</li>
                        </ul>
                    </div>
                    {% for error in form.q4.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.how_many_people.label }}
                    {{ form.how_many_people() }}
                    {% for error in form.how_many_people.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="form-block">
                    {{ form.email(placeholder=_('Je email'), type="email") }}
                    {% for error in form.email.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-block">
                    {{ form.first_name(placeholder=_('Je voornaam')) }}
                    {% for error in form.first_name.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}

                    {{ form.last_name(placeholder=_('Je familienaam')) }}
                    {% for error in form.last_name.errors %}
                    <span class="error-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <p>{{ _('Door op de onderstaande knop te klikken, bevestig
                    je dat u kennis heeft genomen van het') }} <a href="{{ url_for('events.qteam_rules') }}"
                        target="_blank">{{ _('wedstrijdreglement') }}</a>.</p>
                <p>{{ _('Uw data blijft bij Vroom, en wordt niet gedeeld met partners.') }}</p>
                <button id="submit" name="submit" type="submit">
                    {{ _('Indienen') }}
                </button>
            </form>
            <hr>
            <h1>{{ _('Mogelijk gemaakt door QTeam, de Belgische marktleider in banden') }}</h1>
            <p>{{ _("QTeam is de toonaangevende specialist in België op het gebied van banden en mobiliteit, met meer
                dan 50 jaar ervaring. Met het uitgebreide netwerk van 103 servicecentra bieden ze innovatieve lokale
                oplossingen voor alle type auto's, bestelwagens en vrachtwagens, of het nu gaat om particuliere, lease-
                of zakelijke voertuigen. Bij QTeam bent u verzekerd van een veilige reis.") }}</p>
            <hr>
        </div>
    </section>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = document.querySelectorAll('.option');
        const form = document.querySelector('form');
        const formError = document.querySelector('.error-text');

        options.forEach(option => {
            option.addEventListener('click', function () {
                const customSelect = option.closest('.custom-select');
                const inputName = customSelect.getAttribute('data-name');
                const optionsList = customSelect.querySelectorAll('.option');

                optionsList.forEach(opt => opt.classList.remove('selected'));
                option.classList.add('selected');
                const selectedValue = option.getAttribute('data-value');
                const hiddenInput = document.querySelector(`input[name="${inputName}"]`);

                if (hiddenInput) {
                    hiddenInput.value = selectedValue;
                    // Trigger the change event on the hidden input field
                    hiddenInput.dispatchEvent(new Event('change'));
                } else {
                    console.error(`Hidden input not found for inputName: ${inputName}`);
                }
            });
        });

        form.addEventListener('submit', function (event) {
            const customSelects = document.querySelectorAll('.custom-select');
            let emptyCustomSelectFound = false;

            customSelects.forEach(customSelect => {
                const inputName = customSelect.getAttribute('data-name');
                const hiddenInput = document.querySelector(`input[name="${inputName}"]`);

                if (hiddenInput && hiddenInput.value === "") {
                    emptyCustomSelectFound = true;
                }
            });

            if (emptyCustomSelectFound) {
                event.preventDefault();
                formError.style.display = 'block';
            } else {
                formError.style.display = 'none';
            }
        });
    });


</script>

{% endblock %}