{% extends "base.html" %}

{% block content %}
<div class="grid-qteam">
    {% include "events/qteam2/_header.html" %}
    <section>
        <div class="section-qteam">
            <h1>{{ _('Wedstrijdreglement: "Win een ticket voor de Spa Francorchamps F1 of een Pirelli pet"') }}</h1>
            <h2>{{ _('ARTIKEL 1: ALGEMEEN') }}</h2>
            <p>{{ _('Het bedrijf Movel BV, met hoofdzetel te 2600 Berchem (België), Posthofbrug 6-8, ingeschreven bij de
                Kruispuntbank der Ondernemingen onder het nummer 0794.705.855 en met btw-identificatienummer BE
                0794.705.855 (hierna de Organisator genoemd) organiseert in België een wedstrijd onder de naam “Win een
                ticket voor de Spa Francorchamps F1 of een Pirelli pet” (hierna de Wedstrijd genoemd (hierna het
                Evenement genoemd). ') }}</h2>
            <h2>{{ _('ARTIKEL 2: VOORWAARDEN TOT DEELNAME ') }}</h2>
            <p>{{ _('De Wedstrijd staat open voor elke natuurlijke persoon die de leeftijd van 18 jaar bereikt heeft en
                die gedomicilieerd is in België (hierna de Deelnemer genoemd). De medewerkers en personeelsleden van de
                Organisator, evenals de medewerkers en de personeelsleden van de ondernemingen die op de ene of andere
                manier betrokken zijn bij de organisatie of het verloop van de Wedstrijd (onder andere media,
                reclameagentschappen en leveranciers van (technische) diensten die betrokken zijn bij het verloop van de
                Wedstrijd) mogen niet deelnemen aan de Wedstrijd. Hun familieleden van de eerste graad mogen evenmin
                deelnemen. Door zijn deelname aan de Wedstrijd aanvaardt de Deelnemer onvoorwaardelijk en integraal het
                reglement, evenals elke beslissing die de Organisator zou nemen in het kader van deze Wedstrijd, en hij
                bevestigt de inhoud van het reglement gelezen, begrepen en zonder enige beperking aanvaard te hebben. De
                deelname gebeurt in eigen naam en kan in geen geval uitgaan van verschillende personen die georganiseerd
                handelen (of het nu gaat om een vereniging met rechtspersoonlijkheid of een feitelijke vereniging) of
                die op de ene of andere manier samenwerken om hun winstkansen te vergroten. In geval van misbruik,
                bedrog, fraude of indien er pertinente verdenkingen zouden bestaan dat een Deelnemer zich schuldig
                gemaakt zou hebben aan een van bovenstaande inbreuken, kan de betreffende Deelnemer zonder enige
                schadevergoeding uitgesloten worden van de Wedstrijd. Hij zal bijgevolg geen prijs kunnen winnen en/of
                de prijs die hij gewonnen zou hebben niet in ontvangst kunnen nemen. De Organisator kan hiervoor niet
                verantwoordelijk gesteld worden. Dit geldt ook in geval van (enige andere) overtreding, van welke aard
                ook, van (een van de bepalingen van) onderhavig reglement of van enige geldende wettelijke bepaling. ')
                }}</p>
            <h2>{{ _('ARTIKEL 3: DE WEDSTRIJD ') }}</h2>
            <p>{{ _('Het aantal deelnemers is onbeperkt. De Wedstrijd is alleen geldig in België. Deze Wedstrijd begint
                op 01/07/2023 en eindigt op 15/07/2023 om 23.59 uur. De sluitingsdatum voor deelnames is daarom
                15/07/2023 om 23.59 uur. Alle deelnames die na deze datum worden geregistreerd, worden uitgesloten van
                de Wedstrijd. Per Deelnemer wordt slechts één inzending voor de Wedstrijd geaccepteerd voor elk van de
                volgende periodes: van 01/07/2023 tot en met 15/07/2023; Indien een Deelnemer meer dan eenmaal deelneemt
                aan de Wedstrijd gedurende de bovengenoemde perioden, behoudt de Organisator zich het recht de Deelnemer
                uit te sluiten van de Wedstrijd.') }}</p>
            <h2>{{ _('ARTIKEL 4. DEELNAME EN BEPALING VAN DE WINNAARS ') }}</h2>
            <p>{{ _('Om deel te nemen aan de Wedstrijd moet de Deelnemer de gestelde vragen beantwoorden. De
                internetgebruiker verbindt zich ertoe geen pseudoniem te gebruiken van schokkende, beledigende,
                lasterlijke en racistische aard of in strijd met de in België geldende wetgeving. Voor elke in artikel 3
                genoemde periode wordt slechts één deelname per persoon aanvaard. Elke inschrijving die de Organisator
                na de in dit reglement vastgestelde termijnen ontvangt, wordt als ongeldig beschouwd. Elke valse,
                foutieve of onvolledige opgave van identiteit of e-mailadres leidt tot onmiddellijke uitsluiting van de
                deelname. De Organisator behoudt zich het recht voor om alle nodige controles van de identiteit en het
                e-mailadres van de deelnemers uit te voeren. Een Deelnemer wordt beschouwd als winnaar van de Wedstrijd
                als hij/zij: Voldoet aan de deelnemingsvoorwaarden die in de bovenstaande paragrafen en artikelen zijn
                vermeld; Heeft correct gereageerd op de vragen over de F1 Spa Francorchamps en het meest accurate
                antwoord gegeven heeft op de vraag "hoeveel mensen deelgenomen hebben aan deze wedstrijd"; Indien er
                meerdere exacte of bijna exacte antwoorden binnen dezelfde periode worden gegeven, wordt het antwoord
                dat als eerste is gegeven, geaccepteerd. De winnaars worden uiterlijk op 17/07/23 bekendgemaakt. De
                winnaars worden op die datum persoonlijk per e-mail verwittigd. De Organisator zal hen op dat ogenblik
                op de hoogte brengen van de voorwaarden en procedures die zij moeten volgen om hun prijs in ontvangst te
                nemen. De Deelnemer is daarom verplicht zijn/haar mailbox (inbox en spam) gade te slaan om na te gaan of
                hij/zij de wedstrijd heeft gewonnen. De Organisator kan niet aansprakelijk worden gesteld indien de
                Deelnemer de officiële resultaten in zijn spamfolder ontvangt. Alleen de winnaars krijgen per e-mail
                bericht dat ze gewonnen hebben. Indien de Deelnemer zich niet houdt aan de per e-mail aangegeven
                procedure of zich niet tijdig meldt voor het Evenement, wordt zijn prijs als verloren beschouwd en
                blijft deze eigendom van de Organisator. Alle deelnemers aan de wedstrijd kunnen de resultaten van de
                gestelde vragen aan het einde van de wedstrijd bij de Organisator opvragen door een e-mail te sturen
                naar news@vroom.be.') }}</p>
            <h2>{{ _('ARTIKEL 5: DE PRIJS ') }}</h2>
            <p>{{ _('De prijs voor de wedstrijd zijn als volgt: 3x1 biljetten Silver voor de Grand Prix van België 2023
                en 4x1 officiële Pirelli F1 Podium petten. De gewonnen prijzen zijn niet inwisselbaar voor hun
                geldwaarde. De toekenning van deze prijzen kan in geen enkel geval worden betwist, om welke reden dan
                ook, behalve in het geval van ernstig fouten of opzettelijk wangedrag van de Organisator. Eén Deelnemer
                kan slechts één maal winnen (= 1 winnaar en 1 kompaan) per periode genoemd in artikel 3. De Organisator
                behoudt zich het recht een alternatieve prijs van vergelijkbare waarde toe te kennen, als de hierboven
                beschreven prijs niet (meer) beschikbaar is of niet (meer) kan worden toegekend om redenen waarover de
                Organisator geen controle heeft. De Organisator kan niet verantwoordelijk worden gesteld voor eventuele
                vertragingen of verliezen bij de bezorging van de prijs, of als de prijs door nalatigheid van de winnaar
                naar een onjuist e-mailadres is gestuurd. De Organisator kan niet aansprakelijk worden gesteld voor enig
                incident/ongeval dat zich voordoet bij het gebruik van de prijs. Alle genoemde merken of productnamen
                zijn handelsmerken van hun respectieve eigenaars.') }}</p>
            <h2>{{ _('ARTIKEL 6: BESCHERMING VAN DE PERSOONLIJKE GEGEVENS') }}</h2>
            <p>{{ _('De Deelnemer erkent en aanvaardt dat hij/zij door deelname aan de Wedstrijd de Organisator
                toestemming geeft om zijn/haar persoonlijke gegevens die via de website en het deelnameformulier zijn
                verzameld te gebruiken in de context van de Wedstrijd om een goede organisatie en een goed verloop van
                de Wedstrijd te waarborgen. De Deelnemer heeft het recht op toegang tot en verbetering van zijn/haar
                persoonsgegevens. De Deelnemer kan dit recht uitoefenen door een aangetekende brief te sturen naar de
                maatschappelijke zetel van de Organisator, zoals genoemd in artikel 1. Voordat contact kan worden
                opgenomen met de winnaar, moet de deelnemer de velden naam, voornaam en e-mailadres invullen, die
                uitsluitend voor dit doel zullen worden gebruikt. Deze gegevens worden vernietigd 30 dagen na de datum
                van de officiële bekendmaking van de winnaars van de wedstrijd, te weten 17/07/2023. ') }}</p>
            <h2>{{ _('ARTIKEL 7: AANSPRAKELIJKHEID') }}</h2>
            <p>{{ _('Tenzij zijn aansprakelijkheid niet door de wet uitgesloten kan worden, kan de Organisator niet
                aansprakelijk gesteld worden tegenover de Deelnemers of derden voor de schade die (on)rechtstreeks
                veroorzaakt zou zijn als gevolg van de deelname aan de Wedstrijd of van het gebruik van de prijs. In
                geval van overmacht of enige andere omstandigheid die losstaat van de wil van de Organisator, behoudt de
                Organisator zich het recht voor de Wedstrijd te wijzigen, uit te stellen, in te korten of stop te
                zetten. Hij behoudt zich eveneens het recht voor de regels, de prijs en de informatie met betrekking tot
                de Wedstrijd te wijzigen. De Organisator kan hiervoor niet verantwoordelijk gesteld worden. De
                Deelnemers zullen dus bij elke deelname opnieuw kennis moeten nemen van het reglement om zich ervan te
                vergewissen dat dit niet gewijzigd werd. De Organisator kan ook niet aansprakelijk gesteld worden voor
                het uitblijven van ontvangst of de laattijdige ontvangst van de email waarin de winnaar op de hoogte
                gebracht wordt van zijn overwinning, noch voor het niet gebruiken van de prijs en/of de wijziging van de
                prijs. De deelname aan de Wedstrijd via internet impliceert de kennis en de aanvaarding van de kenmerken
                en beperkingen van het internet, zoals de technische prestaties, de reactietijd voor het raadplegen of
                doorsturen van informatie. De Organisator kan in geen geval aansprakelijk gesteld worden voor het feit
                dat bepaalde gegevens niet beschermd zijn tegen eventuele interceptie ervan en tegen de risico’s op
                besmetting met eventuele virussen die op het internet circuleren. De Organisator besteedt de grootste
                zorg aan de organisatie van de Wedstrijd. Toch is het mogelijk dat informatie niet volledig of verkeerd
                is. Eventuele onnauwkeurigheden, drukfouten, typografie, vergissingen met betrekking tot de
                samenstelling of andere fouten en technische problemen of andere problemen met betrekking tot de
                Wedstrijd kunnen niet ingeroepen worden als basis voor enige verplichting of aansprakelijkheid uit
                hoofde van de Organisator. De Organisator kan ook niet aansprakelijk gesteld worden voor technische
                problemen die de deelname aan de Wedstrijd onmogelijk maken of voor technische problemen die het goede
                verloop van de Wedstrijd zouden verhinderen. Het is de verantwoordelijkheid van elke Deelnemer om zich
                ervan te vergewissen dat de technische middelen waarmee hij aan de Wedstrijd deelneemt correct
                functioneren. De Organisator kan niet aansprakelijk gesteld worden voor eventuele incompatibiliteit
                tussen de technologieën die gebruikt worden voor de Wedstrijd en de configuratie van de hardware en/of
                software die gebruikt wordt door de Deelnemer.') }}</p>
        </div>
    </section>
</div>
{% endblock %}